.article {
    border: 1px solid #AC7438;
    border-radius: 5px;
		width: 45em;
		margin: 10px;
		box-shadow: 2px, 2px, 5px, 0px rgba(0,0,0,.75);
}

.article-title {
    padding: 10px;
    background-color: #AC7438;
    color: white;
}

.article-content {
    transition-duration: 0, 200ms;
    transition-property: visibility, opacity;
    transition-delay: 0;
		background-color: #EA9D4C;
		color: #183944;
		display: flex;
}

.article-content-thumbnail {
	padding: 10px;
}

.article-content-extract {
	padding: 10px;
}

.article-content .hidden {
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms, 0;
    transition-property: opacity, visibility;
    transition-delay: 0, 200ms
}

.article-footer {
    background-color: #AC7438;
		padding: 10px;
		display: flex;
}

.article-footer-command {
	background-color: #265B6C;
	color: white;
	border-radius: 50px;
	text-align: center;
	height: 32px;
	line-height: 32px;
	width: 100px;
	text-decoration: none;
	margin: 10px;
	display: block;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,.75);
}
