.articles-container-outer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.articles-container-list {
		list-style-type: none;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
}
